.menu {
	transition: 0.1s transform linear;
	position: relative;
	background: 0;
	float: right;
	height: 27px;
	width: 35px;
	z-index: 1;
	outline: 0;
	padding: 0;
	border: 0;

	@include media('>tablet') {
		display: none;
	}

	&:active {
		transform: scale(0.8, 0.8);
	}
}

.bar {
	&, &::before, &::after {
		transition: 0.3s background linear 0.1s, 0.3s top linear 0.3s, 0.2s transform linear;
		position: absolute;
		background: $green;
		margin: auto;
		width: 100%;
		height: 3px;
		content: '';
		top: 50%;
		left: 0;
	}

	& {
		margin-top: -2px
	}

	&::before {
		top: -12px;
	}

	&::after {
		top: 12px;
	}

	&::before,
	&::after {
		transform: rotate(0deg);
	}

	.active & {
		background: 0;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&::before,
		&::after {
			top: 0;
		}

		&,
		&::before,
		&::after {
			transition: 0.3s background linear 0.1s, 0.3s top linear, 0.2s transform linear 0.3s;
		}
	}
}