.main-nav {
	border-top: 1px solid darken($light-grey, 5%);
	background: darken($light-grey, 3%); // Personally think these should be in a max-width MQ...
	width: calc(100% + 30px);
	margin: 16px -15px 0;
	padding: 8px 0;
	float: left;

	@include media('>tablet') {
		display: inline-block;
		vertical-align: top;
		background: 0;
		float: right;
		width: 40%;
		padding: 0;
		margin: 0;
		border: 0;
	}
}

.menu-list {
	transition: transform 0.4s ease;
	transform: translate3d(100%, 0, 0);
	font-family: $heading-font;
	line-height: round(2rem * 1.61803398875);
	text-align: center;
	font-size: 2rem;
	display: flex;
	padding: 0;
	margin: 0;

	@include media('>tablet') {
		text-align: right;
		transition: none;
		transform: none;
	}

	.open & {
		transform: translate3d(0, 0, 0);
	}

	.out & {
		transition: transform 0.3s ease;
		transform: translateX(-100%);
	}
}

.nav-item {
	display: inline-block;
	list-style: none;
	flex: 1 1 auto;
}

.nav-link {
	text-shadow: none;
	color: $dark-grey;
	position: relative;
	display: block;
	background: 0;
	overflow: hidden;

	@include media('>tablet') {
		@include backgroundFill($dark-grey, $green, 10px, down);
	}

	&:hover {
		color: $green;
	}

	&.active {
		color: $green;
	}
}