* {
	box-sizing: border-box;
}

body {
	font-family: $body-font;
	background: $offwhite;
	letter-spacing: 0.4px;
	line-height: 2.9rem;
	color: $dark-grey;
	font-size: 1.8rem;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
	max-width: 100%;
	margin: auto;
	width: 100%;

	@include media('>desktop') {
		width: 1000px;
	}
}

.site-body {
	border-top: 1px solid darken($light-grey, 5%);

	.wrapper {
		padding: 0 15px;

		@include media('>tablet') {
			padding: 0;
		}
	}

	a {
		text-shadow: -1px -1px 0 $light-grey, 1px -1px 0 $light-grey, -1px 1px 0 $light-grey, 1px 1px 0 $light-grey;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, $green 1px, $green 4px, $offwhite 2px);
	}

	.bede {
		color: $red;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, $red 1px, $red 4px, $offwhite 2px);
	}

	.dribbble {
		color: $pink;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, $pink 1px, $pink 4px, $offwhite 2px);
	}

	.github {
		color: $blue;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, $blue 1px, $blue 4px, $offwhite 2px);
	}

	.twitter {
		color: #4099FF;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, #4099ff 1px, #4099ff 4px, $offwhite 2px);
	}
}

.resolute {
	background: #447e81;
	height: 600px;

	.title {
		color: #fff;
	}
}

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

a {
	text-decoration: none;
	color: $green;
}

