body {
	font-family: $body-font;
	background: $offwhite;
	letter-spacing: 0.4px;
	line-height: round(1.8rem * 1.61803398875);
	color: $dark-grey;
	height: 100%;
	font-size: 1.8rem;
}

html {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

section {
	text-align: center;
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	padding: 30px 0;

	header, article, footer {
		width: 80%;
		margin: auto;
	}
}

.site-body {
	border-top: 1px solid darken($light-grey, 5%);

	.wrapper {
		padding: 0 15px;

		@include media('>desktop') {
			padding: 0;
		}
	}

	a {
		text-shadow: -1px -1px 0 $light-grey, 1px -1px 0 $light-grey, -1px 1px 0 $light-grey, 1px 1px 0 $light-grey;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, $green 1px, $green 4px, $offwhite 2px);
	}

	.bede {
		color: $red;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, $red 1px, $red 4px, $offwhite 2px);
	}

	.dribbble {
		color: $pink;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, $pink 1px, $pink 4px, $offwhite 2px);
	}

	.github {
		color: $blue;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, $blue 1px, $blue 4px, $offwhite 2px);
	}

	.twitter {
		color: #4099FF;
		background-image: linear-gradient(to top, $offwhite, $offwhite 2px, #4099ff 1px, #4099ff 4px, $offwhite 2px);
	}
}

.resolute {
	background: #447e81;
	height: 600px;

	.title {
		color: #fff;
	}
}

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

a {
	text-decoration: none;
	color: $green;
}

.bede {
	color: #D56666;
}




@include media('>phone') {
	html {
		font-size: 10px;
	}
}