p {
	margin: 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font;
	margin: 15px 0;

	a {
		text-decoration: none;
	}
}

h1 {
	line-height: round(3.2rem * 1.61803398875);
	font-size: 3.2rem;
}

h2 {
	line-height: round(3rem * 1.61803398875);
	font-size: 3rem;
}

h3 {
	line-height: round(2.6rem * 1.61803398875);
	font-size: 2.6rem;
}

h4 {
	line-height: round(2.4rem * 1.61803398875);
	font-size: 2.4rem;
}

h5 {
	line-height: round(2.2rem * 1.61803398875);
	font-size: 2.2rem;
}

h6 {
	line-height: round(2rem * 1.61803398875);
	font-size: 2rem;
}

.sub-heading {
	font-weight: normal;
}